@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

main{
    max-width: 1210px;
    margin: 0 auto;
    border: px solid black;
}



/*--section-title--*/
.section-title{
    text-align: center;
    margin-bottom: 50px;
}

.section-title h1{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
}

.section-title p{
    color: rgba(19, 19, 24, 0.60);
    font-size: 16px;
    font-weight: 500;
}
/*--section-title end--*/





/*--Program Sections---*/
.pogram-div1{
    background: url(Images/2.png)
}

.pogram-div2{
    background: url(Images/3.png)
}

.pogram-div3{
    background: url(Images/4.png)
}
/*--Program Sections End---*/



.radial-progress:before{
    background-color: red !important;
}