@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}


/*--section-title--*/
.section-title{
    text-align: center;
    margin-bottom: 50px;
}

.section-title h1{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
}

.section-title p{
    color: rgba(19, 19, 24, 0.60);
    font-size: 16px;
    font-weight: 500;
}
/*--section-title end--*/





/*--Program Sections---*/
.pogram-div1{
    background: url(Images/2.png)
}

.pogram-div2{
    background: url(Images/3.png)
}

.pogram-div3{
    background: url(Images/4.png)
}
/*--Program Sections End---*/






/*---Professional Hockeys Club--*/

.onik > div{
    border: px solid red;
}

.radial-progress1{
    transform: rotate( 130deg) !important;
}
.radial-progress1 h1{
    transform: rotate( 230deg) !important;
}

.radial-progress2{
    transform: rotate( 120deg) !important;
}
.radial-progress2 h1{
    transform: rotate( 240deg) !important;
}

.radial-progress3{
    transform: rotate( 150deg) !important;
}
.radial-progress3 h1{
    transform: rotate( 210deg) !important;
}

.radial-progress4{
    transform: rotate( 140deg) !important;
}
.radial-progress4 h1{
    transform: rotate( 220deg) !important;
}

.radial-progress:before{
    background-color: #E7E7E8 !important;
}

@media screen and (max-width:900px) {
    .onik{
        flex-wrap: wrap;
    }

    .onik > div{
        padding: 20px 20px;
        width: 50%;
    }
}


@media screen and (max-width:600px) {

    .onik > div{
        padding: 20px 0px;
        width: 100%;
    }
}
/*----*/