@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}


/*--menu--*/
.btn-ghost:hover{
    background-color: white !important;
}

.menu li a:hover{
    background-color: white !important;
}
/*--menu end--*/




/*--hero section---*/
.hero{
    background: url(Images/hero-1.png);
}

.hero-2{
    background: url(Images/hero-2.jpg);
}

.hero-3{
    background: url(Images/hero-3.jpg);
}

.hero-div{
    bottom: 30px;
    right: 30px;
}

.btn-circle{
    background-color: #131318 !important;
    color: white !important;
    border: none !important;
}
/*--hero end---*/



/*--Program Sections---*/
.pogram-div1{
    background: url(Images/2.png)
}

.pogram-div2{
    background: url(Images/3.png)
}

.pogram-div3{
    background: url(Images/4.png)
}
/*--Program Sections End---*/



/*---Professional Hockeys Club--*/
.radial-progress1{
    rotate: 130deg;
}
.radial-progress1 h1{
    transform: rotate( 230deg) !important;
}

.radial-progress2{
    rotate: 120deg;
}
.radial-progress2 h1{
   rotate: 240deg;
}


.radial-progress3{
    rotate: 150deg;
}
.radial-progress3 h1{
    rotate: 210deg;
}

.radial-progress4{
    rotate: 140deg;
}
.radial-progress4 h1{
    rotate: 220deg;
}

.radial-progress:before{
    background-color: #E7E7E8 !important;
}


.ball > div{
    width: 300px;
}

@media screen and (max-width:900px) {
    .ball{
        flex-wrap: wrap;
    }

    .ball > div{
        padding: 20px 20px;
        width: 50%;
    }
}

@media screen and (max-width:600px) {
    .ball > div{
        padding: 20px 0px;
        width: 100%;
    }
}
/*----*/





.product > div{
    border: 1px solid #1313181a;
}




/*----*/
.collapse{
    border-radius: 0px !important;
    border-bottom: 1px solid rgba(19, 19, 24, 0.10);
}

.collapse-title:after {
    font-size: 24px;
    color: #131318;
}

.collapse-title{
    padding: 1rem 0px !important;
}

.collapse-content{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
/*----*/





/*----*/
@media screen and (max-width:640px) {

    .hero{
        height: 300px !important;
    }

    .hero-div{
        bottom: 0px;
        right: 0px;
        width: 100% !important;
        padding: 16px;
    }

    .hero-div h1{
        font-size: 18px;
    }

    .hero-div p{
        font-size: 14px;
    }

    .left-right{
        top: 310px;
        text-align: center;
    }
}


@media screen and (max-width: 472px) {
    #slide1{
        min-height: 490px;
    }

    .left-right{
        top: 325px;
    }
}


@media screen and (max-width: 388px) {
    #slide1{
        min-height: 530px;
    }

    .left-right{
        top: 335px;
    }
}

@media screen and (max-width: 375px) {
    #slide1{
        min-height: 545px;
    }

    .left-right{
        top: 340px;
    }
}

@media screen and (max-width: 320px) {
    #slide1{
        min-height: 560px;
    }

    .left-right{
        top: 345px;
    }
}
/*----*/